body{
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  right:0;
  width:100%;
  bottom:0px;
}
h1{
  margin:0;
  padding:0 1%;
  font-size:24px;
  line-height:30px;
  text-shadow:1px 1px 1px #555;
  font-weight:normal;
  height:30px;
  background: -moz-linear-gradient(top, #333, #666);
  background: -webkit-linear-gradient(top, #333, #666);
  background: -o-linear-gradient(top, #333, #666);
  background: linear-gradient(top, #333, #666);
  color:#fff;
}
p{
  margin:0;
}
#content{
  margin:3px 1px;
  padding:15px;
  background:#f9f9f9;
  border:1px solid #888;
  border-radius:2px;
  height:275px;
}
#view-source #content{
  margin:0px;
  padding:0px;
  border:none;
  height:auto;
  width:100%;
  position:absolute;
  margin-top:30px;
  top:0%;
  left:0%;
  bottom:0%;
  right:0%;
}
#content section{
  height:160px;
  overflow:auto;
}
#view-source #content .top{
  height:auto;
  position:absolute;
  top:0%;
  left:1%;
  bottom:20%;
  right:1%;
  overflow:auto;
}
#view-source #content .bottom{
  height:auto;
  position:absolute;
  top:82%;
  left:1%;
  bottom:0%;
  right:1%;
}
#content pre{
  overflow:auto;
  margin:0;
  padding:0 1em;
  border:2px solid #aaa;
  background:#fff;
  border-radius:5px;
}
section{
  background:#fff;
}
section + p{
  margin:2em 0 0;
}
#script-name{
  background:#FFFFC8;
  padding:8px;
  margin:0;
}
#description{
  background:#FFEBC8;
  padding:8px;
}
dl{
  padding:0;
  margin:0.5em;
}
#content > fieldset,
#content .bottom{
  text-align:center;
  border:none;
}
#content button{
  font-size:150%;
  padding:0.2em 0.5em;
}
button{
  -webkit-appearance: button;
  background: -moz-linear-gradient(top, #fff, #ddd);
  background: -webkit-linear-gradient(top, #fff, #ddd);
  background: -o-linear-gradient(top, #fff, #ddd);
  background: linear-gradient(top, #fff, #ddd);
  border: 1px solid #999;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  margin: 0.2em;
  padding: 0px 5px;
}
button:hover:not([disabled]){
  background: -moz-linear-gradient(top, #fff, #99ccff);
  background: -webkit-linear-gradient(top, #fff, #99ccff);
  background: -o-linear-gradient(top, #fff, #99ccff);
  background: linear-gradient(top, #fff, #99ccff);
}
button[disabled]{
  cursor:default;
}

