body{
  color:#222222;
  font-family: Arial, Helvetica, sans-serif;
  width:300px;
}
body, ul, li, section, div, button{
  margin:0;
  padding:0;
}
ul{
  list-style-type:none;
}
body {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
}
li.script{
}
button{
  width:100%;
  background: -moz-linear-gradient(top, #fafafa, #ddd);
  background: -webkit-linear-gradient(top, #fafafa, #ddd);
  background: -o-linear-gradient(top, #fafafa, #ddd);
  background: linear-gradient(top, #fafafa, #ddd);
  padding: 2px;
  margin: 0;
  border:none;
  text-align:left;
}
button.command{
  background: -moz-linear-gradient(top, #333, #555);
  background: -webkit-linear-gradient(top, #333, #555);
  background: -o-linear-gradient(top, #333, #555);
  background: linear-gradient(top, #333, #555);
  padding:3px;
  border-radius:3px;
  color:#fff;
  width:auto;
}
li.frame{
  margin-left:1em;
  cursor:pointer;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fafafa));
  background: -moz-linear-gradient(top, #fff, #fafafa);
  background: -webkit-linear-gradient(top, #fff, #fafafa);
  background: -o-linear-gradient(top, #fff, #fafafa);
  background: linear-gradient(top, #fff, #fafafa);
}
li.frame > ul{
  display:none;
}
li.title{
  font-size:small;
}
